name: Auto Check

on:
  push:
  watch:
    types: started
  schedule:
    # 国际标准时间22点 (北京时间早上6点)
    - cron: '0 22 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # [2.7, 3.5, 3.6, 3.7, 3.8] 目前只用到 Python3.8
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        # 暂时不需要多个依赖
        # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: 零组签到
      env:
        ZERO_USER: ${{ secrets.ZERO_USER }}
        ZERO_PASSWD: ${{ secrets.ZERO_PASSWD }}
        API_KEY: ${{ secrets.API_KEY }}
        API_SECRET: ${{ secrets.API_SECRET }}
        CAPTCHA_API: ${{ secrets.CAPTCHA_API }}
      run: |
        python 0_org_check.py
